<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.clj.blesample">

    <!--  蓝牙的权限  -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--SD卡读写的权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <permission android:name="android.permission.CHANGE_CONFIGURATION"/>

    <!--   网络权限    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name="com.clj.blesample.application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">

        </activity>

        <activity android:name=".splash.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".operation.OperationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".activity.DeviceNameSetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".activity.HistoryDataActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".activity.HistoryDataDeleteActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.DeviceTimeSetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.DeviceOrderSetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.DeviceFunctionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.DeviceAboutActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.AlarmDeviceActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.DeviceOrderSet2Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.LanguageSetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.TimeOrderSetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.SystemSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.TroubleShootingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>


        <provider
            android:authorities="com.clj.blesample.provider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>